<ion-header>

    <ion-navbar>
      <div style="font-family: Snell Roundhand, cursive; " class="text-info font-weight-bold">
        My publications
      </div>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content padding class="bg-light"> 
   
    <!-- l'ensemble des annances  -->
    <div class="row" *ngIf="OffLenght !== 0">

      <ion-card class=" text-light col-sm-3 col-lg-2" *ngFor="let off of Calls">

        <img src="data:image/png;base64,{{off.ProductPicture}}" class="h-50"/>
        <ion-card-content>
          <ion-card-title>
            <h2 class="font-weight-bold text-secondary">{{off.ProductName}}
              <small>
                <ion-badge item-end class="btn-info">{{off.ProductPrice}} EUR</ion-badge>
              </small>
            </h2>
          </ion-card-title>
  
          <p>{{off.ProductDescription | slice:0:50}} ...</p>      
          
          <button class="btn-info" ion-button outline round small  (click)="Delete(off.ProductId)">
              <ion-icon name="ios-trash-outline"></ion-icon>
          </button>
          <button class="btn-info" ion-button outline round small  (click)="Edit(off)">
              <ion-icon name="ios-create-outline"></ion-icon>
          </button>
          <button class="btn-info"  ion-button outline round small  (click)="Requests(off)">
            <ion-icon name="ios-cart-outline">

          </ion-icon></button>
  
        </ion-card-content>
      </ion-card>

    </div>
  
  
  
  </ion-content>