<ion-header>

  <ion-navbar>
    <div style="font-family: Snell Roundhand, cursive; " class="text-info">
      Driving
    </div>
  </ion-navbar>

</ion-header>
 

<ion-content padding>


    <!-- l'ensemble des annances  -->
    <div class="row" *ngIf="OffLenght !== 0">

      <ion-card class=" text-light col-sm-5 col-lg-4" *ngFor="let off of Calls">

        <img src="data:image/png;base64,{{off.ProductPicture}}" class="h-50"/>
        <ion-card-content>
          <ion-card-title>
            <h2 class="font-weight-bold text-secondary">{{off.ProductName}}
              <small>
                <ion-badge item-end class="btn-info">{{off.ProductPrice}} EUR</ion-badge>
              </small>
            </h2>
          </ion-card-title>
  
          <p>{{off.ProductDescription | slice:0:50}} ...</p>      
          
                  
          <a href="mailto:{{off.UserMail}}" class="text-info" ion-item>
            <ion-icon name="ios-mail" class="text-dark  mx-4 "> </ion-icon> {{off.UserMail}}
          </a>
        

         
          <a href="tel:{{off.UserPhone}}" class="text-info" ion-item>
            <ion-icon name="ios-call-outline" class="text-dark  mx-4 "> </ion-icon> {{off.UserPhone}}
          </a>
        

        
          <a href="https://www.google.fr/maps/place/{{off.UserAdress}}" target="_blank" class="text-info " ion-item>
            <ion-icon name="ios-send-outline" class="text-dark mx-4 " item-start></ion-icon>{{off.UserAdress}}
          </a>
        
   
          <ion-item>
            <button class="btn-info" ion-button round block (click)="Buy(off.ProductId)">Buy</button>
          </ion-item>
  
        </ion-card-content>
      </ion-card>

    </div>
  
    
</ion-content>
