 
<ion-header>

  <ion-navbar>
    <div style="font-family: Snell Roundhand, cursive; " class="text-info">
      Sign Up
    </div>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form class="list-form" [formGroup]="myForm">
    <ion-icon name="person-add" id="person"></ion-icon>
        <ion-item>
            <ion-label stacked>userName : </ion-label>
            <ion-input required type="text" [(ngModel)]="user.userName" name="userName" formControlName="userName"></ion-input>
        </ion-item>

        <ion-item no-lines *ngIf="(myForm.get('userName').hasError('required') || myForm.get('userName').hasError('minlength')) && myForm.get('userName').touched">
          <div class="alert alert-danger" role="alert" *ngIf="myForm.get('userName').hasError('minlength') && myForm.get('userName').touched">
            votre nom doit contenir au moins 3 caracteres
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="myForm.get('userName').hasError('required') && myForm.get('userName').touched">
              vous devez saisir un nom
          </div>
      </ion-item>
      
        <ion-item>
          <ion-label stacked>Email</ion-label>
          <ion-input required type="email" [(ngModel)]="user.userMail" name="userMail" formControlName="userMail"></ion-input>
        </ion-item>

        <ion-item no-lines *ngIf="(myForm.get('userMail').hasError('required') || myForm.get('userMail').hasError('pattern')) && myForm.get('userMail').touched">
          <div class="alert alert-danger" role="alert" *ngIf="myForm.get('userMail').hasError('pattern') && myForm.get('userMail').touched">
              email de forme : abc@abc.abc
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="myForm.get('userMail').hasError('required') && myForm.get('userMail').touched">
              vous devez saisir un email
          </div>
      </ion-item>
      
        <ion-item>
          <ion-label stacked>Password : </ion-label>
          <ion-input required type="password" [(ngModel)]="user.userPassword" name="userPassword" formControlName="userPassword"></ion-input>
        </ion-item>

        <ion-item no-lines *ngIf="(myForm.get('userPassword').hasError('required') || myForm.get('userPassword').hasError('minlength')) && myForm.get('userPassword').touched">
          <div class="alert alert-danger" role="alert" *ngIf="myForm.get('userPassword').hasError('minlength') && myForm.get('userPassword').touched">
            votre mot de passe doit contenir au moins 6 caracteres
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="myForm.get('userPassword').hasError('required') && myForm.get('userPassword').touched">
              vous devez saisir un mot de passe
          </div>
      </ion-item>


      <ion-item>
        <ion-label stacked>Confirm Password : </ion-label>
        <ion-input required type="password" formControlName="passwordConfirmation" ></ion-input>
      </ion-item>

      <ion-item no-lines *ngIf="(myForm.get('passwordConfirmation').hasError('required') ||  myForm.get('passwordConfirmation').hasError('notEqual')) && myForm.get('passwordConfirmation').touched">
        <div class="alert alert-danger" role="alert" *ngIf="myForm.get('passwordConfirmation').hasError('notEqual') && myForm.get('passwordConfirmation').touched">
          your password don't match
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="myForm.get('passwordConfirmation').hasError('required') && myForm.get('passwordConfirmation').touched">
            confirm your password
        </div>
    </ion-item>

      
      <ion-item>
        <ion-label stacked>user Address : </ion-label>
        <ion-input required type="text" [(ngModel)]="user.userAddress" formControlName="userAdress" ></ion-input>
    </ion-item>

    <ion-item no-lines *ngIf="(myForm.get('userAdress').hasError('required') || myForm.get('userAdress').hasError('minlength')) && myForm.get('userAdress').touched">
      <div class="alert alert-danger" role="alert" *ngIf="myForm.get('userAdress').hasError('minlength') && myForm.get('userAdress').touched">
        votre adresse doit contenir au moins 6 caracteres
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="myForm.get('userAdress').hasError('required') && myForm.get('userAdress').touched">
          vous devez saisir adresse
      </div>
  </ion-item>
    
    <ion-item>
        <ion-label stacked>user Phone : </ion-label>
        <ion-input required type="tel" [(ngModel)]="user.userPhone" formControlName="userPhone"></ion-input>
    </ion-item>

    <ion-item no-lines *ngIf="(myForm.get('userPhone').hasError('required') || myForm.get('userPhone').hasError('minlength')) && myForm.get('userPhone').touched">
      <div class="alert alert-danger" role="alert" *ngIf="myForm.get('userPhone').hasError('minlength') && myForm.get('userPhone').touched">
        votre numéro de telephone doit contenir au moins 8 caracteres
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="myForm.get('userPhone').hasError('required') && myForm.get('userPhone').touched">
          vous devez saisir un numéro de telephone
      </div>
    </ion-item>



    <ion-item>
        <ion-label stacked>user Picture : </ion-label>
        <ion-input required type="file" (change)="onFileSelected($event)" #fileInput formControlName="userPicture"> 
        </ion-input>  
      </ion-item>

      <ion-item no-lines *ngIf="myForm.get('userPicture').hasError('required') && myForm.get('userPicture').touched">
        
        <div class="alert alert-danger" role="alert" *ngIf="myForm.get('userPicture').hasError('required') && myForm.get('userPicture').touched">
            vous devez mettre une image
        </div>
      </ion-item>
    
        <button ion-button (tap)="logUp()"  [disabled]="!myForm.controls.userMail.valid"> Sign Up </button>
        
      </form>
</ion-content>
