<ion-header>

  <ion-navbar>
    <div style="font-family: Snell Roundhand, cursive; " class="text-info">
      Offer Consult
    </div>
  </ion-navbar>

</ion-header>

<ion-content padding>


  <div class="row container" *ngIf="infos">
    <div class="col"></div>
    <img src="data:image/png;base64,{{infos.ProductPicture}}"  class="col-sm-3 col-lg-2 align-self-center"/>
    <div class="col"></div>
  </div>

  <ion-card class=" text-light " *ngIf="infos" style="height: 100%;">
    <ion-card-content>
      <ion-list>

        <h2 class="font-weight-bold text-info text-center">{{infos.ProductName }}
          <small>
            <ion-badge class="btn-info">{{infos.ProductPrice}} EUR</ion-badge>
          </small>
        </h2><br>

        <ion-item class="text-info">
          {{infos.ProductDescription}}
        </ion-item>

         
          <a href="mailto:{{infos.UserMail}}" class="text-info" ion-item>
            <ion-icon name="ios-mail" class="text-dark  mx-4 "> </ion-icon> {{infos.UserMail}}
          </a>
        

         
          <a href="tel:{{infos.UserPhone}}" class="text-info" ion-item>
            <ion-icon name="ios-call-outline" class="text-dark  mx-4 "> </ion-icon> {{infos.UserPhone}}
          </a>
        

        
          <a href="https://www.google.fr/maps/place/{{infos.UserAdress}}" target="_blank" class="text-info " ion-item>
            <ion-icon name="ios-send-outline" class="text-dark mx-4 " item-start></ion-icon>{{infos.UserAdress}}
          </a>
        
     <div *ngIf="infos.UserId !== userMe.userId">

        <ion-item>
          <ion-label floating> </ion-label>
          <ion-input type="date" [(ngModel)]="Reservation.ReservationDate"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>message for the seller</ion-label>
          <ion-input type="text" [(ngModel)]="Reservation.ReservationMessage"></ion-input>
        </ion-item>

        <ion-item>
          <button class="btn-info" ion-button round block (click)="SendReservation()">Send</button>
        </ion-item>
      </div>
      </ion-list>
    </ion-card-content>
  </ion-card>


</ion-content>